@font-face {
  font-family: "KakaoBigSans-ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoBigSans-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}
:root {
  font-family: "KakaoBigSans-ExtraBold", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button:hover {
  border-color: #4dff94;
}
